* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed",sans-serif;
    font-weight: 500;
    min-height: 100vh;
    display: grid;
    background-color:hsl(210, 46%, 95%) ;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
h2 {
    font-weight: 600;
}
/* reusable */
.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.grid-col-2 {
    grid-template-columns: span 2;
}
.testimonial.quote {
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;
   
}

.text-netral-100 {
    color: hsl(0, 0%, 100%);
}
.text-netral-400 {
    color: hsl(219, 29%, 14%);
}
.bg-primary {
    background:hsl(263, 55%, 52%) ;
}
.bg-secondary {
    background: hsl(217, 19%, 35%);
}
.bg-tertiary {
    background: hsl(219, 29%, 14%);
}
.bg-jeanette {
    background: hsl(0 0% 100%);
}

/* components */
.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
     'one'
     'two'
     'three'
     'four'
     'five';
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    place-content: center;
}
.testimonial {
    padding: 2rem;
    font-size: 0.8125rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217, 19%, 35%) / 0.25;
    /* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217, 19%, 35%) / 0.25; */
}

.testimonial:nth-child(1) {
    grid-area: one;
}
.testimonial:nth-child(2) {
    grid-area: two;
}
.testimonial:nth-child(3) {
    grid-area: three;
}
.testimonial:nth-child(4) {
    grid-area: four;
}
.testimonial:nth-child(5) {
    grid-area: five;
}

@media (min-width: 30em) {
    .testimonial-grid {
       grid-template-areas:
        'one one' 
        'two five'
        'three five'
        'four four';
    }

}

@media (min-width: 50em) {
    .testimonial-grid {
        grid-template-areas:
         'one one two five'
         'three four four five';
    }

}
.position {
    opacity: 0.5;
    font-size: 0.6875rem;
}
.name {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1;
}
.paragraph-title {
    font-size: 1.25rem;
    line-height: 1.2;
}
p:last-child {
opacity: 0.7;
}
.testimonial img {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}
img {
    max-width: 100%;
    display: block;
}
.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
}
.border-primary-400 {
    border: 2px solid #a775f1;
}